.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.main--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
